# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [3]:
import pandas as pd
import os

In [7]:
os.getcwd()
os.chdir('/Users/jelle/PycharmProjects/Hackathon 2024/data')

In [8]:
voertuigen_df = pd.read_csv('Gegevens bedrijventerrein(Voertuig info).csv')
bedrijven_df = pd.read_csv('Gegevens bedrijven (verdeling voertuigen).csv')

In [10]:
voertuigen_df.head()

,Model,Voertuigtype,Brandstoftype,Brandstof verbruik L/100km,Brandstof verbruik L/1km,Tank capaciteit in L,Electriciteit verbruik kWh/100km,Electriciteit verbruik kWh/1km,Batterij capaciteit kW
0,DAF XF,Vrachtwagen,Diesel,30.0,0.30,1200.0,294.00,2.9400,NaN
1,Volkswagen Transporter,Bestelbus,Diesel,7.0,0.07,70.0,68.60,0.6860,NaN
2,Volvo FH Electric,Vrachtwagen,Electrisch,NaN,NaN,NaN,1.80,0.0180,540.0
3,Renault Kangoo Z.E.,Bestelbus,Electrisch,NaN,NaN,NaN,0.15,0.0015,33.0

In [11]:
bedrijven_df.head()

,Bedrijfsnaam,Producten,Sector,Vrachtwagens,e-vrachtwagens,Bestelbusjes,e-bestelbusjes,Minimum afstand,Maximum afstand,Gemiddelde afstand,TKM Vrachtwagens,TKM e-vrachtwagens,TKM Bestelbusjes,TKM e-bestelbusjes,Consumptie Vrachtwagens,Consumptie e-vrachtwagens,Consumptie Bestelbusjes,Consumptie e-bestelbusjes
0,Best Trucks,Vrachtwagens,Automotive,15.0,0.0,15.0,0.0,100.0,200.0,600.0,9000.0,0.0,9000.0,0.0,270.0,63.0,0.0,0.0
1,Berkman Groep,"Brandstoffen, tankstations",Energie,10.0,0.0,10.0,0.0,50.0,150.0,600.0,6000.0,0.0,6000.0,0.0,180.0,42.0,0.0,0.0
2,4 Fruit Company,"Fruit, groente",Handel,15.0,1.0,20.0,1.0,50.0,100.0,600.0,9000.0,9000.0,12000.0,600.0,270.0,84.0,162.0,0.9
3,4 Potato Holland B.V.,Aardappels,Handel,10.0,0.0,15.0,0.0,50.0,100.0,600.0,6000.0,0.0,9000.0,0.0,180.0,63.0,0.0,0.0
4,Agrofair Benelux,Fruit,Handel,10.0,0.0,15.0,0.0,50.0,100.0,600.0,6000.0,0.0,9000.0,0.0,180.0,63.0,0.0,0.0

In [22]:
bedrijven_df['kWh van diesel'] = (bedrijven_df['TKM Vrachtwagens'] * 0.30 * 9.8) + (bedrijven_df['TKM Bestelbusjes'] * 0.07 * 9.8)
bedrijven_df['kWh van e-voertuigen'] = (bedrijven_df['TKM e-vrachtwagens'] * 0.0180) + (bedrijven_df['e-bestelbusjes'] * 0.0015)
bedrijven_df['totaal kWh'] = bedrijven_df['kWh van diesel'] + bedrijven_df['kWh van e-voertuigen']

In [23]:
bedrijven_df.head()

,Bedrijfsnaam,Producten,Sector,Vrachtwagens,e-vrachtwagens,Bestelbusjes,e-bestelbusjes,Minimum afstand,Maximum afstand,Gemiddelde afstand,...,TKM e-vrachtwagens,TKM Bestelbusjes,TKM e-bestelbusjes,Consumptie Vrachtwagens,Consumptie e-vrachtwagens,Consumptie Bestelbusjes,Consumptie e-bestelbusjes,kWh van diesel,kWh van e-voertuigen,totaal kWh
0,Best Trucks,Vrachtwagens,Automotive,15.0,0.0,15.0,0.0,100.0,200.0,600.0,...,0.0,9000.0,0.0,270.0,63.0,0.0,0.0,32634.0,0.0000,32634.0000
1,Berkman Groep,"Brandstoffen, tankstations",Energie,10.0,0.0,10.0,0.0,50.0,150.0,600.0,...,0.0,6000.0,0.0,180.0,42.0,0.0,0.0,21756.0,0.0000,21756.0000
2,4 Fruit Company,"Fruit, groente",Handel,15.0,1.0,20.0,1.0,50.0,100.0,600.0,...,9000.0,12000.0,600.0,270.0,84.0,162.0,0.9,34692.0,162.0015,34854.0015
3,4 Potato Holland B.V.,Aardappels,Handel,10.0,0.0,15.0,0.0,50.0,100.0,600.0,...,0.0,9000.0,0.0,180.0,63.0,0.0,0.0,23814.0,0.0000,23814.0000
4,Agrofair Benelux,Fruit,Handel,10.0,0.0,15.0,0.0,50.0,100.0,600.0,...,0.0,9000.0,0.0,180.0,63.0,0.0,0.0,23814.0,0.0000,23814.0000